/* main container for all sections  */
body {
  background-image: linear-gradient(120deg, #d4fc79 0%, #96e6a1 100%);
  margin: 0;
  font-family: cursive;
  display: flex;
  justify-content: center;
}

.main-container {
  display: flex;
  margin: auto;
}

/* ..........List of score section........... */
.recent-scores-main-heading {
  display: flex;
}

.recent-scores-container {
  margin-left: 40px;
}

.recent-scores-refresh-button {
  margin-left: 20px;
  border: 2px solid black;
  max-height: 20px;
  margin-top: 22px;
}

.list-of-scores-container li {
  margin-left: -10px;
  background: #ddd;
  padding: 5px;
  list-style: none;
  font-weight: bolder;
}

.list-of-scores-container li:nth-child(odd) {
  background: #fff;
}

.list-of-scores-container {
  border: 2px solid black;
}

.output-list-score-style {
  list-style: none;
  margin-left: 10px;
}

/* .........Add your score section.......... */
.add-your-scores-container {
  margin-left: 40px;
}

.add-score-input-container {
  display: flex;
  flex-direction: column;
  padding-bottom: 20px;
}

.add-score-input-text {
  margin-bottom: 20px;
}

#add-score-button {
  float: right;
}

#output-list-score {
  margin-left: -30px;
}

.space {
  margin-left: 10px;
}
